<p class="h1 text-center mt-2">List customer</p>
<div class="d-flex mt-3">
  <a class="btn btn-primary me-3 ms-auto" routerLink="/employee/create">Add new</a>
</div>
<div class="container-fluid">
  <table class="table ">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Salary</th>
      <th>Phone number</th>
      <th>ID Card</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of listEmployee | paginate: {itemsPerPage: 6, currentPage: p}">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.dateOfBirth}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td>{{employee.idCard}}</td>
      <td class="text-center">
        <button class="btn btn-success btn-sm me-2" (click)="detail(employee.id)">Detail</button>
        <a class="btn btn-warning btn-sm me-2" routerLink="/employee/edit" [queryParams]="{id: employee.id}">Edit</a>
        <button class="btn btn-danger btn-sm" (click)="delete(employee.id)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<div class="d-flex">
  <pagination-controls class="me-auto ms-auto" (pageChange)="p = $event"></pagination-controls>
</div>
