<!--card name-->
<!--<app-name-card cardName="Professional Dev" email="prodev@abc.xyz" [phone]="123"></app-name-card>-->

<!--progress-bar-->
<!--<app-progress-bar [width]="45" background="bg-danger"></app-progress-bar>-->

<!--rating bar-->
<!--<app-rating-bar [max]="10"></app-rating-bar>-->

<!--countdown-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <h2 style="text-align: center">Countdown</h2>-->
<!--      <h3 style="text-align: center; color: red" *ngIf="statusCountdown !== ''">{{statusCountdown}}</h3>-->
<!--      <app-countdown [minute]="0" [seconds]="10" (emitter)="finish($event)"></app-countdown>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--hacker news-->
<app-hackernews></app-hackernews>
