<p class="h1 text-center mt-2">List customer</p>
<div class="d-flex mt-3">
  <a class="btn btn-primary me-3 ms-auto" routerLink="/customer/create">Add new</a>
</div>
<div class="container-fluid">
  <table class="table ">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Phone number</th>
      <th>Type</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of listCustomer | paginate: {itemsPerPage: 6, currentPage: p}">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td *ngIf="!customer.gender">Female</td>
      <td *ngIf="customer.gender">Male</td>
      <td>{{customer.phoneNumber}}</td>
      <td >{{customer.customerType.name}}</td>
      <td class="text-center">
          <button class="btn btn-success btn-sm me-2" (click)="detail(customer.id)">Detail</button>
          <a class="btn btn-warning btn-sm me-2" routerLink="/customer/edit" [queryParams]="{id: customer.id}">Edit</a>
          <button class="btn btn-danger btn-sm" (click)="delete(customer.id)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<div class="d-flex">
  <pagination-controls class="me-auto ms-auto" (pageChange)="p = $event"></pagination-controls>
</div>
