<!--<div class="container">-->
<!--&lt;!&ndash;  <app-template-driven-form></app-template-driven-form>&ndash;&gt;-->
<!--  <app-register></app-register>-->
<!--</div>-->

<!--<app-todo></app-todo>-->

<!--<app-register-final></app-register-final>-->

<!--<app-login></app-login>-->
<div class="container-fluid">
  <div class="d-flex">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
         alt="" style="height: 200px; width: 200px" class="mr-auto ml-auto">
  </div>
  <h2 class="text-center">Create Student</h2>
  <div class="row">
    <div class="col-6">
      <app-demo-template-driven></app-demo-template-driven>
    </div>
    <div class="col-6">
      <app-demo-reactive-form></app-demo-reactive-form>
    </div>
  </div>
</div>

